*{
    margin: 3px;
    padding: 3px;
}

h1
{
    color : blue;
    text-align: center;

}
h2
{
    color: blue
}
body
{
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

p
{
    color: red
}

img.fot1
{
    padding: 20px; margin: 10px; border: 2px solid black; float: left; width: 250px
}
img.fot2
{
    padding: 20px; margin: 10px; border: 2px solid black; float : right; width: 250px;
}
.clear {
    clear:both
}
.sub
{
    text-align: center;
    margin-top: 60px;
}
.texto{
    margin-top: 20px;
    padding: 10px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.links{
    float: left;
    margin: 10px;
    list-style: none;
}
footer{
    color: black;
    text-align: left
}